.logo{
    position: absolute;
    top: 0px;
    right: 0px;
}

.resume{
    text-align: justify;
    text-align: center;
}

.infos{
    text-align: center;
}

div{
    text-align: center;
}

.questio{
    text-align: center;
}